s.idea
node_modules
.env
.DS_Store
docker-compose.yml
.scannerwork
coverage

/src
/application.d.ts
/application.js
/application.js.map
/infrastructure.d.ts
/infrastructure.js
/infrastructure.js.map
/domain.d.ts
/domain.js
/domain.js.map
